{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="width: 40rem">
    <form class="well form-horizontal" method="post" action="/cases/create">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"
                >{{beneficiary.fname}} Id</label
            >
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"
                        ><i class="glyphicon glyphicon-user"></i></span
                    ><input
                        id="beneficiary_id"
                        name="beneficiary_id"
                        class="form-control"
                        required="true"
                        value="{{beneficiary.beneficiary_id if beneficiary else ''}}"
                        type="text"
                    />
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Purpose</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" style="max-width: 100%"
                        ><i class="glyphicon glyphicon-list"></i
                    ></span>
                    <select
                        class="selectpicker form-control"
                        id="purpose"
                        name="purpose"
                    >
                        <option>Select purpose</option>
                        <option>EDUCATION</option>
                        <option>HOSPITAL</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"
                        ><i class="glyphicon glyphicon-user"></i></span
                    ><input
                        id="title"
                        name="title"
                        class="form-control"
                        required="true"
                        value=""
                        type="text"
                    />
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"
                        ><i class="glyphicon glyphicon-user"></i
                    ></span>
                    <textarea
                        id="description"
                        name="description"
                        class="form-control"
                        value=""
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Amount Needed</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"
                        ><i class="glyphicon glyphicon-user"></i></span
                    ><input
                        id="amount_needed"
                        name="amount_needed"
                        class="form-control"
                        value=""
                        type="number"
                    />
                </div>
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-primary"
            id="submit"
            style="margin-left: 25%"
        >
            Submit
        </button>
    </form>
</div>
{% endblock %}
