<div class="d-flex justify-content-end">
{% if case.case_state == 'DRAFT' %}
        {% if publish_disable == true %}
        <form action="/cases/{{case.case_id}}/publish" method="post">
            <button disabled class="btn btn-outline-success">
                Publish
            </button>
        </form>
        {% else %}
        <form action="/cases/{{case.case_id}}/publish" method="post">
            <button class="btn btn-outline-success">
                Publish
            </button>
        </form>
        {% endif %}
{% elif case.case_state == 'PUBLISHED' %}
   {% if verification_done == true %}
        <a href="/cases/{{case.case_id}}/approve_reject" class="btn btn-info" role="button">Approve or Reject</a>
    {% else %}
        <a href="/cases/{{case.case_id}}/add_verification_details" class="btn btn-info" role="button">Verify</a>
    {% endif %}
{% endif %}
</div>