{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="overflow-wrap: 100%">
    <div class="container-fluid" style="width: 40rem">
        <h4>
            Case for
            <a
                href="{{ url_for('beneficiary.beneficiary_view', id=case.beneficiary__id) }}"
                >{{beneficiary.fname}}</a
            >
            for the purpose of {{case.purpose}}
        </h4>
        <div class="card" style="width: 40rem">
            <div class="card-body">
                {% include 'cases/view_next_action.html' %}
                <div class="col-xs-12" style="height: 20px"></div>
                <form class="well form-horizontal">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"
                                    ><i
                                        class="glyphicon glyphicon-user"
                                    ></i></span
                                ><input
                                    id="title"
                                    name="title"
                                    class="form-control"
                                    required="true"
                                    value="{{case.title}}"
                                    type="text"
                                    readonly
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"
                            >Description</label
                        >
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"
                                    ><i class="glyphicon glyphicon-user"></i
                                ></span>
                                <textarea rows="6"
                                    id="description"
                                    name="description"
                                    class="form-control"
                                    value="{{case.title}}"
                                    readonly
                                >
{{case.description}}</textarea
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"
                            >Amount Needed</label
                        >
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"
                                    ><i
                                        class="glyphicon glyphicon-user"
                                    ></i></span
                                ><input
                                    id="description"
                                    name="description"
                                    class="form-control"
                                    value="{{case.amount_needed}}"
                                    type="text"
                                    readonly
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Updated by</label>
                        <div class="col-md-8 inputGroupContainer">
                        <a
                            href="{{ url_for('member.member_view', id=updated_by.member_id) }}"
                            >{{updated_by.fname}}</a
                        >
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="width: 40rem">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <a
                        href="/cases/{{case.case_id}}/upload"
                        class="btn btn-info"
                        role="button"
                        >Upload supporting documents</a
                    >
                </div>
                <div class="col-xs-12" style="height: 20px"></div>
                <ul class="list-group">
                    {% for doc in initial_doc_list %}
                    <li class="list-group-item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            href="{{ doc.doc_url }}"
                            >{{doc.doc_name}}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if verification_done == true %}
        <div class="card" style="width: 40rem">
            <div class="card-body">
                <div class="d-flex">
                    <h5>Verification details</h5>
                </div>
                <ul class="list-group">
                    {% for x in verification_comments %}
                    <li class="list-group-item">
                        [<a
                            href="{{ url_for('member.member_view', id=x.commented_by) }}"
                            >Verified by</a
                        >] : {{x.comment}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% endif %} {% if voting_done == true %}
        <div class="card" style="width: 40rem">
            <div class="card-body">
                <div class="d-flex">
                    <h5>Voting details</h5>
                </div>
                <ul class="list-group">
                    {% for vote in case_votes %}
                    <li class="list-group-item">
                        [<a
                            href="{{ url_for('member.member_view', id=vote.voted__by) }}"
                            >Voted by</a
                        >] : {{vote.vote}} : Amount Suggested
                        {{vote.amount_suggested}} : Comment
                        {{vote.comment}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}
